body{
  background-image: url(../img/bank-british.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#container{
	height: 100%;
	width: 100%;
    background-color: rgba(173,216,230,0.7);
    z-index: 2;
}
.custom{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 }
.custom-container{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 50%;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.4);
}
.heading{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-bottom-style: inset;
	border-color: #fff;
}
.select{
	padding-top: 20px;
	padding-left: 50px;
	font-family: "Arial Narrow Special G1 Italic", Gadget, sans-serif;
	src : url('../font/arial/MSGEONI1.TTF');
}
.custom-buttons{
	padding-top: 100px;
	padding-left: 100px;
}
.bank-icon{
	font-size: 42px;
	text-align: center;
}
.account-create{
	width: 60%;
	height: auto;
}